<nav class="breadcrumb" aria-label="Breadcrumb">
  <ol class="breadcrumb__list">
    <li class="breadcrumb__item">
      <a href="/" class="breadcrumb__link">{{ 'general.breadcrumbs.home' | t }}</a>
    </li>
    {% if collection %}
      <li class="breadcrumb__item">
        <a href="{{ collection.url }}" class="breadcrumb__link">{{ collection.title }}</a>
      </li>
    {% endif %}
    {% if product %}
      <li class="breadcrumb__item">
        <span class="breadcrumb__link" aria-current="page">{{ product.title }}</span>
      </li>
    {% endif %}
  </ol>
</nav>
