{% assign current_product_handle = product.handle %}
{% assign previous_product = nil %}
{% assign next_product = nil %}
{% assign found_current_product = false %}

{% for item in collections.all.products %}
  {% if found_current_product %}
    {% unless next_product %}
      {% assign next_product = item %}
    {% endunless %}
  {% endif %}

  {% if item.handle == current_product_handle %}
    {% assign found_current_product = true %}
  {% else %}
    {% unless found_current_product %}
      {% assign previous_product = item %}
    {% endunless %}
  {% endif %}
{% endfor %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@900&display=swap" rel="stylesheet">

<style>
  @font-face {
    font-family: 'Cinzel Black';
    font-style: normal;
    font-weight: 900;
    src: local('Cinzel Black'), local('Cinzel-Black'), url(https://fonts.gstatic.com/s/cinzelblack/v13/8vIJ7ww63mVu7gtL8Qs.ttf) format('truetype');
  }

  .product-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: 'Cinzel Black', serif;
    font-size: 18px;
  }

  .previous-product {
    text-align: left;
  }

  .next-product {
    text-align: right;
  }

  .product-navigation-button {
    text-decoration: none;
    color: black;
    position: relative;
  }

  .product-navigation-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid black;
  }

  .product-navigation-button::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid black;
  }

  .product-navigation-button:hover {
    color: #8b0000;
  }
</style>


<div class="product-navigation">
  {% if previous_product %}
    <div class="previous-product">
      <a href="{{ previous_product.url }}" title="Previous Product" class="product-navigation-button">
        <span>Previous</span>
      </a>
    </div>
  {% endif %}

  {% if next_product %}
    <div class="next-product">
      <a href="{{ next_product.url }}" title="Next Product" class="product-navigation-button">
        <span>Next</span>
      </a>
    </div>
  {% endif %}
</div>
