{% if section.settings.previous_product or section.settings.next_product %}
  <div class="previous-next-products">
    {% if section.settings.previous_product %}
      <a href="{{ section.settings.previous_product.url }}" class="previous-product-link">
        Previous Product: {{ section.settings.previous_product.title }}
      </a>
    {% endif %}
    {% if section.settings.next_product %}
      <a href="{{ section.settings.next_product.url }}" class="next-product-link">
        Next Product: {{ section.settings.next_product.title }}
      </a>
    {% endif %}
  </div>
{% endif %}
