{% comment %}
  The following code uses the `image_with_tooltips` section type to display
  an image with tooltips that appear on hover.
{% endcomment %}

{% assign image_url = section.settings.image | img_url: 'master' %}
{% assign tooltips = section.settings.tooltips | split: ',' %}

<div class="image-with-tooltips">
  <div class="image-wrapper">
    <img src="{{ image_url }}" alt="{{ section.settings.alt_text }}">
    {% for tooltip in tooltips %}
      <span class="tooltip" data-tooltip="{{ tooltip }}"></span>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Image with Tooltips",
  "class": "image-with-tooltips",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Upload an image to display in this section."
    },
    {
      "type": "text",
      "id": "alt_text",
      "label": "Alt Text",
      "info": "Add alternative text for the image."
    },
    {
      "type": "text",
      "id": "tooltips",
      "label": "Tooltips",
      "info": "Add comma-separated tooltips to display on hover."
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% raw %}
  .image-with-tooltips {
    position: relative;
  }

  .image-with-tooltips .image-wrapper {
    position: relative;
  }

  .image-with-tooltips .tooltip {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .image-with-tooltips .tooltip:hover::before {
    display: block;
  }

  .image-with-tooltips .tooltip::before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    top: -2em;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: black;
    color: white;
    font-size: 1em;
    white-space: nowrap;
  }
{% endraw %}
{% endstylesheet %}
